.login__hero {
  background-color: var(--client-gray);
  background: linear-gradient(
    180deg,
    var(--client-gray-dark) 60%,
    var(--client-gray) 100%
  );
  color: white;
}

.login__hero-text {
  font-size: 42px;
  margin-bottom: 0px;
}

.login__hero-subtext {
  font-size: 27px;
  margin-top: 5px;
}

.login__form {
  padding: 100px;
}

.login__forgot-password {
  font-size: 14px;
  text-decoration: none;
  color: var(--client-gray-dark);
  text-align: center;
}

.login__form-title {
  margin-bottom: 5px;
  font-size: 27px;
}

.login__form-subtitle {
  font-size: 20px;
  padding: 0 0 36px 0;
  margin: 0;
}

.login__form-field {
  position: relative;
}

.login__form-field-icon {
  color: #777777;
  opacity: 0.7;
  font-size: 27px;
  position: absolute;
  top: 16px;
  left: 22px;
}

.login__form-field input {
  width: 100%;
  padding-left: 64px;
}

@media only screen and (max-width: 720px) {
  .login__hero {
    display: none !important;
  }
}
