<div class="navigation" fxLayout="column">
  <div class="navigation__menu-button navigation__button-container">
    <span
      class="navigation__button iconify"
      data-icon="dashicons:menu-alt3"
    ></span>
  </div>

  <div class="navigation__button-container navigation__button-container--active">
    <span
      class="navigation__button iconify"
      data-icon="bx:bxs-pie-chart-alt-2"
    ></span>
  </div>
  <div class="navigation__button-container">
    <span
      class="navigation__button iconify"
      data-icon="carbon:add-filled"
    ></span>
  </div>
</div>
